WSCancilleria/classes/bo/gob/aduana/cancilleria/ws/SvcCancilleria.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="SvcCancilleria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="SvcCancilleria.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="SvcCancilleria_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="SvcCancilleria_1.xsd" namespace="http://schemas.datacontract.org/2004/07/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISvcCancilleria_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork"/>
  </wsdl:message>
  <wsdl:message name="ISvcCancilleria_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse"/>
  </wsdl:message>
  <wsdl:message name="ISvcCancilleria_getDirectorio_InputMessage">
    <wsdl:part name="parameters" element="tns:getDirectorio"/>
  </wsdl:message>
  <wsdl:message name="ISvcCancilleria_getDirectorio_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDirectorioResponse"/>
  </wsdl:message>
  <wsdl:message name="ISvcCancilleria_getAcreditados_InputMessage">
    <wsdl:part name="parameters" element="tns:getAcreditados"/>
  </wsdl:message>
  <wsdl:message name="ISvcCancilleria_getAcreditados_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAcreditadosResponse"/>
  </wsdl:message>
  <wsdl:portType name="ISvcCancilleria">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcCancilleria/DoWork" message="tns:ISvcCancilleria_DoWork_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcCancilleria/DoWorkResponse" message="tns:ISvcCancilleria_DoWork_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getDirectorio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcCancilleria/getDirectorio" message="tns:ISvcCancilleria_getDirectorio_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcCancilleria/getDirectorioResponse" message="tns:ISvcCancilleria_getDirectorio_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getAcreditados">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvcCancilleria/getAcreditados" message="tns:ISvcCancilleria_getAcreditados_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ISvcCancilleria/getAcreditadosResponse" message="tns:ISvcCancilleria_getAcreditados_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CancilleriaEndpoint" type="tns:ISvcCancilleria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISvcCancilleria/DoWork" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirectorio">
      <soap:operation soapAction="http://tempuri.org/ISvcCancilleria/getDirectorio" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAcreditados">
      <soap:operation soapAction="http://tempuri.org/ISvcCancilleria/getAcreditados" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SvcCancilleria">
    <wsdl:port name="CancilleriaEndpoint" binding="tns:CancilleriaEndpoint">
      <soap:address location="http://10.0.2.78:14876/cancilleria/SvcCancilleria.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>